@(user: models.users.User)
@main("Home",user){
<h1>Welcome to Online Car Rental! </h1>
<h3>The place where you can rent Cars for as long as you want. *As Long as it's for 14 days or less*</h3>

<div class="container-fluid">
    <div class="row">
    <div class="col-sm-6">
        
            <img class="collage" src="@routes.Assets.versioned("images/rental-car-ireland.jpg")" alt="carWithBackground">

    </div>
    
    <div class="col-sm-6">
        <div class="well sidecol2">
                <img class="collage" src="@routes.Assets.versioned("images/carlogos.png")" alt="carlogos">
        </div>
    </div>
    </div>
}		  